Web.MainApplication/Connected Services/Mail/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.43:81/WCFSoapIndosuryaMailSender/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.43:81/WCFSoapIndosuryaMailSender/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFSoapIndosuryaMailSender" />
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="to" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cc" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bcc" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="isIsBodyHtml" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSoapIndosuryaMailSender" minOccurs="0" name="streamAttachment" nillable="true" type="q4:ArrayOfStreamAttachment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>