Web.MainApplication/Connected Services/Mail/Service15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSoapIndosuryaMailSender" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSoapIndosuryaMailSender" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.43:81/WCFSoapIndosuryaMailSender/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ArrayOfStreamAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreamAttachment" nillable="true" type="tns:StreamAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreamAttachment" nillable="true" type="tns:ArrayOfStreamAttachment" />
  <xs:complexType name="StreamAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Stream" nillable="true" type="q1:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreamAttachment" nillable="true" type="tns:StreamAttachment" />
</xs:schema>